<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_9SC7oNT0EeWW7qBcXsHUvw" specification="internal:&#xA;&#x9;var iTick : integer&#xA;&#x9;const MS_DELAY : integer = 200&#xA;interface:&#xA;&#x9;in event evButton&#xA;&#x9;in event evTick&#xA;&#x9;operation opLED(onoff:boolean)" name="idleblink">
    <regions xmi:id="_9SEJwtT0EeWW7qBcXsHUvw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_9SGmANT0EeWW7qBcXsHUvw">
        <outgoingTransitions xmi:id="_9SK3c9T0EeWW7qBcXsHUvw" target="_9SH0JNT0EeWW7qBcXsHUvw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_9SH0JNT0EeWW7qBcXsHUvw" specification="entry/opLED(false)" name="IDLE" incomingTransitions="_9SK3c9T0EeWW7qBcXsHUvw _EK6Q4NT1EeWW7qBcXsHUvw">
        <outgoingTransitions xmi:id="_DgxuwNT1EeWW7qBcXsHUvw" specification="evButton" target="__Gk0UNT0EeWW7qBcXsHUvw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="__Gk0UNT0EeWW7qBcXsHUvw" specification="" name="BLINK" incomingTransitions="_DgxuwNT1EeWW7qBcXsHUvw">
        <outgoingTransitions xmi:id="_EK6Q4NT1EeWW7qBcXsHUvw" specification="evButton" target="_9SH0JNT0EeWW7qBcXsHUvw"/>
        <regions xmi:id="__GmpgNT0EeWW7qBcXsHUvw" name="blink region">
          <vertices xsi:type="sgraph:Entry" xmi:id="_G3KbwNT1EeWW7qBcXsHUvw">
            <outgoingTransitions xmi:id="_Wpr5UNT1EeWW7qBcXsHUvw" specification="/iTick=0" target="_K9_uQNT1EeWW7qBcXsHUvw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_K9_uQNT1EeWW7qBcXsHUvw" specification="entry/opLED(true)" name="ON" incomingTransitions="_Wpr5UNT1EeWW7qBcXsHUvw _iBEBQNT1EeWW7qBcXsHUvw _L0hJwNT5EeWW7qBcXsHUvw">
            <outgoingTransitions xmi:id="_qVlcMNT1EeWW7qBcXsHUvw" specification="evTick[iTick==MS_DELAY]&#xA;/iTick=0" target="_MnsP8NT1EeWW7qBcXsHUvw"/>
            <outgoingTransitions xmi:id="_L0hJwNT5EeWW7qBcXsHUvw" specification="evTick[iTick&lt;MS_DELAY]&#xA;/iTick=iTick+1" target="_K9_uQNT1EeWW7qBcXsHUvw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_MnsP8NT1EeWW7qBcXsHUvw" specification="entry/opLED(false)" name="OFF" incomingTransitions="_qVlcMNT1EeWW7qBcXsHUvw _YSY_sNT5EeWW7qBcXsHUvw">
            <outgoingTransitions xmi:id="_iBEBQNT1EeWW7qBcXsHUvw" specification="evTick[iTick==MS_DELAY]&#xA;/iTick=0" target="_K9_uQNT1EeWW7qBcXsHUvw"/>
            <outgoingTransitions xmi:id="_YSY_sNT5EeWW7qBcXsHUvw" specification="evTick[iTick&lt;MS_DELAY]&#xA;/iTick=iTick+1" target="_MnsP8NT1EeWW7qBcXsHUvw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_9SEJwNT0EeWW7qBcXsHUvw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_9SC7oNT0EeWW7qBcXsHUvw" measurementUnit="Pixel">
    <children xmi:id="_9SEJw9T0EeWW7qBcXsHUvw" type="Region" element="_9SEJwtT0EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_9SFX4NT0EeWW7qBcXsHUvw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9SFX4dT0EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9SFX4tT0EeWW7qBcXsHUvw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_9SFX49T0EeWW7qBcXsHUvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_9SGmAdT0EeWW7qBcXsHUvw" type="Entry" element="_9SGmANT0EeWW7qBcXsHUvw">
          <children xmi:id="_9SHNENT0EeWW7qBcXsHUvw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_9SH0INT0EeWW7qBcXsHUvw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_9SH0IdT0EeWW7qBcXsHUvw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_9SH0ItT0EeWW7qBcXsHUvw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9SHNEdT0EeWW7qBcXsHUvw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9SHNEtT0EeWW7qBcXsHUvw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9SGmAtT0EeWW7qBcXsHUvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_9SGmA9T0EeWW7qBcXsHUvw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9SH0I9T0EeWW7qBcXsHUvw" x="97" width="15" height="15"/>
        </children>
        <children xmi:id="_9SJCQtT0EeWW7qBcXsHUvw" type="State" element="_9SH0JNT0EeWW7qBcXsHUvw">
          <children xsi:type="notation:DecorationNode" xmi:id="_9SJpU9T0EeWW7qBcXsHUvw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9SKQYNT0EeWW7qBcXsHUvw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9SKQYdT0EeWW7qBcXsHUvw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9SKQYtT0EeWW7qBcXsHUvw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9SKQY9T0EeWW7qBcXsHUvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9SKQZNT0EeWW7qBcXsHUvw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9SK3cNT0EeWW7qBcXsHUvw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9SJpUNT0EeWW7qBcXsHUvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9SJpUdT0EeWW7qBcXsHUvw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9SK3cdT0EeWW7qBcXsHUvw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9SK3ctT0EeWW7qBcXsHUvw" x="25" y="36" width="167" height="53"/>
        </children>
        <children xmi:id="__GoesNT0EeWW7qBcXsHUvw" type="State" element="__Gk0UNT0EeWW7qBcXsHUvw">
          <children xsi:type="notation:DecorationNode" xmi:id="__GpFwNT0EeWW7qBcXsHUvw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="__GpFwdT0EeWW7qBcXsHUvw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="__Gps0NT0EeWW7qBcXsHUvw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__Gps0dT0EeWW7qBcXsHUvw" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="__Gps0tT0EeWW7qBcXsHUvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__Gps09T0EeWW7qBcXsHUvw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__GqT4NT0EeWW7qBcXsHUvw" type="StateFigureCompartment">
            <children xmi:id="__HD8gNT0EeWW7qBcXsHUvw" type="Region" element="__GmpgNT0EeWW7qBcXsHUvw">
              <children xsi:type="notation:DecorationNode" xmi:id="__HFKoNT0EeWW7qBcXsHUvw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="__HFKodT0EeWW7qBcXsHUvw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="__HFKotT0EeWW7qBcXsHUvw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="__HFKo9T0EeWW7qBcXsHUvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_G3OGINT1EeWW7qBcXsHUvw" type="Entry" element="_G3KbwNT1EeWW7qBcXsHUvw">
                  <children xmi:id="_G3PUQNT1EeWW7qBcXsHUvw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_G3P7UNT1EeWW7qBcXsHUvw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_G3P7UdT1EeWW7qBcXsHUvw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_G3P7UtT1EeWW7qBcXsHUvw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_G3PUQdT1EeWW7qBcXsHUvw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3PUQtT1EeWW7qBcXsHUvw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_G3OGIdT1EeWW7qBcXsHUvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_G3OGItT1EeWW7qBcXsHUvw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3OGI9T1EeWW7qBcXsHUvw" x="48" y="3"/>
                </children>
                <children xmi:id="_K-A8YNT1EeWW7qBcXsHUvw" type="State" element="_K9_uQNT1EeWW7qBcXsHUvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_K-BjcNT1EeWW7qBcXsHUvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_K-BjcdT1EeWW7qBcXsHUvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_K-BjctT1EeWW7qBcXsHUvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_K-Bjc9T1EeWW7qBcXsHUvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_K-BjdNT1EeWW7qBcXsHUvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K-BjddT1EeWW7qBcXsHUvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_K-CKgNT1EeWW7qBcXsHUvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_K-A8YdT1EeWW7qBcXsHUvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_K-A8YtT1EeWW7qBcXsHUvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_K-CKgdT1EeWW7qBcXsHUvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K-A8Y9T1EeWW7qBcXsHUvw" x="154" y="-13" width="135"/>
                </children>
                <children xmi:id="_MnuFINT1EeWW7qBcXsHUvw" type="State" element="_MnsP8NT1EeWW7qBcXsHUvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_MnusMNT1EeWW7qBcXsHUvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_MnusMdT1EeWW7qBcXsHUvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_MnusMtT1EeWW7qBcXsHUvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_MnusM9T1EeWW7qBcXsHUvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_MnvTQNT1EeWW7qBcXsHUvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MnvTQdT1EeWW7qBcXsHUvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_MnvTQtT1EeWW7qBcXsHUvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_MnuFIdT1EeWW7qBcXsHUvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_MnuFItT1EeWW7qBcXsHUvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Mnv6UNT1EeWW7qBcXsHUvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MnuFI9T1EeWW7qBcXsHUvw" x="154" y="121" width="137" height="53"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="__HFKpNT0EeWW7qBcXsHUvw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="__HD8gdT0EeWW7qBcXsHUvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__HD8gtT0EeWW7qBcXsHUvw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__GoesdT0EeWW7qBcXsHUvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="__GoestT0EeWW7qBcXsHUvw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="__Gq68NT0EeWW7qBcXsHUvw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__Goes9T0EeWW7qBcXsHUvw" y="148" width="511" height="276"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9SFX5NT0EeWW7qBcXsHUvw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_9SEw0NT0EeWW7qBcXsHUvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9SF-8NT0EeWW7qBcXsHUvw" x="264" y="10" width="533" height="465"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_9SMso9T0EeWW7qBcXsHUvw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_9SNTsNT0EeWW7qBcXsHUvw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9SNTsdT0EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9SNTstT0EeWW7qBcXsHUvw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_9SNTs9T0EeWW7qBcXsHUvw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9SNTtNT0EeWW7qBcXsHUvw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9SN6wNT0EeWW7qBcXsHUvw" x="10" y="10" width="243" height="465"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_9SEJwdT0EeWW7qBcXsHUvw"/>
    <edges xmi:id="_9SMFkNT0EeWW7qBcXsHUvw" type="Transition" element="_9SK3c9T0EeWW7qBcXsHUvw" source="_9SGmAdT0EeWW7qBcXsHUvw" target="_9SJCQtT0EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_9SMsoNT0EeWW7qBcXsHUvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9SMsodT0EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9SMsotT0EeWW7qBcXsHUvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9SMFkdT0EeWW7qBcXsHUvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9SMFk9T0EeWW7qBcXsHUvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9SMFktT0EeWW7qBcXsHUvw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_Dg0yENT1EeWW7qBcXsHUvw" type="Transition" element="_DgxuwNT1EeWW7qBcXsHUvw" source="_9SJCQtT0EeWW7qBcXsHUvw" target="__GoesNT0EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Dg1ZIdT1EeWW7qBcXsHUvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Dg1ZItT1EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Dg1ZI9T1EeWW7qBcXsHUvw" x="-9" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Dg0yEdT1EeWW7qBcXsHUvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Dg1ZINT1EeWW7qBcXsHUvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Dg0yEtT1EeWW7qBcXsHUvw" points="[6, 0, 1, -73]$[6, 73, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Dg6RoNT1EeWW7qBcXsHUvw" id="(0.11377245508982035,0.8679245283018868)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Dg6RodT1EeWW7qBcXsHUvw" id="(0.07276995305164319,0.01090909090909091)"/>
    </edges>
    <edges xmi:id="_EK-iUNT1EeWW7qBcXsHUvw" type="Transition" element="_EK6Q4NT1EeWW7qBcXsHUvw" source="__GoesNT0EeWW7qBcXsHUvw" target="_9SJCQtT0EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_EK_JYNT1EeWW7qBcXsHUvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EK_JYdT1EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EK_JYtT1EeWW7qBcXsHUvw" x="9" y="31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EK-iUdT1EeWW7qBcXsHUvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EK-iU9T1EeWW7qBcXsHUvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EK-iUtT1EeWW7qBcXsHUvw" points="[1, -1, 0, 70]$[1, -65, 0, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ELDa0NT1EeWW7qBcXsHUvw" id="(0.27102803738317754,0.0037174721189591076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ns2hMNT1EeWW7qBcXsHUvw" id="(0.718562874251497,0.8867924528301887)"/>
    </edges>
    <edges xmi:id="_WpuVkNT1EeWW7qBcXsHUvw" type="Transition" element="_Wpr5UNT1EeWW7qBcXsHUvw" source="_G3OGINT1EeWW7qBcXsHUvw" target="_K-A8YNT1EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Wpu8odT1EeWW7qBcXsHUvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Wpu8otT1EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Wpu8o9T1EeWW7qBcXsHUvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WpuVkdT1EeWW7qBcXsHUvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Wpu8oNT1EeWW7qBcXsHUvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WpuVktT1EeWW7qBcXsHUvw" points="[7, 0, -32, -2]$[40, 25, 1, 23]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WpxY4NT1EeWW7qBcXsHUvw" id="(0.05,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_iBHroNT1EeWW7qBcXsHUvw" type="Transition" element="_iBEBQNT1EeWW7qBcXsHUvw" source="_MnuFINT1EeWW7qBcXsHUvw" target="_K-A8YNT1EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iBISsdT1EeWW7qBcXsHUvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iBISstT1EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iBI5wNT1EeWW7qBcXsHUvw" x="12" y="81"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iBHrodT1EeWW7qBcXsHUvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iBISsNT1EeWW7qBcXsHUvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iBHrotT1EeWW7qBcXsHUvw" points="[1, -12, 51, -12]$[-50, 2, 0, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iBOZUNT1EeWW7qBcXsHUvw" id="(0.8052631578947368,0.20754716981132076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iBOZUdT1EeWW7qBcXsHUvw" id="(0.8513513513513513,0.9245283018867925)"/>
    </edges>
    <edges xmi:id="_qVqUsNT1EeWW7qBcXsHUvw" type="Transition" element="_qVlcMNT1EeWW7qBcXsHUvw" source="_K-A8YNT1EeWW7qBcXsHUvw" target="_MnuFINT1EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qVri0NT1EeWW7qBcXsHUvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qVri0dT1EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qVri0tT1EeWW7qBcXsHUvw" x="-12" y="82"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qVqUsdT1EeWW7qBcXsHUvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qVq7wNT1EeWW7qBcXsHUvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qVqUstT1EeWW7qBcXsHUvw" points="[5, 20, 0, -119]$[5, 106, 0, -33]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qVwbUNT1EeWW7qBcXsHUvw" id="(0.0,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qVwbUdT1EeWW7qBcXsHUvw" id="(0.025,0.6792452830188679)"/>
    </edges>
    <edges xmi:id="_L0mpUNT5EeWW7qBcXsHUvw" type="Transition" element="_L0hJwNT5EeWW7qBcXsHUvw" source="_K-A8YNT1EeWW7qBcXsHUvw" target="_K-A8YNT1EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_L0nQYdT5EeWW7qBcXsHUvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L0nQYtT5EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L0nQY9T5EeWW7qBcXsHUvw" x="-4" y="-79"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L0mpUdT5EeWW7qBcXsHUvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L0nQYNT5EeWW7qBcXsHUvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L0mpUtT5EeWW7qBcXsHUvw" points="[7, 0, 3, -16]$[39, 0, 35, -16]$[39, 26, 35, 10]$[7, 26, 3, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L0psoNT5EeWW7qBcXsHUvw" id="(0.9504504504504504,0.2641509433962264)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L0psodT5EeWW7qBcXsHUvw" id="(0.9819819819819819,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_YSbb8NT5EeWW7qBcXsHUvw" type="Transition" element="_YSY_sNT5EeWW7qBcXsHUvw" source="_MnuFINT1EeWW7qBcXsHUvw" target="_MnuFINT1EeWW7qBcXsHUvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_YSbb9NT5EeWW7qBcXsHUvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YSbb9dT5EeWW7qBcXsHUvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YScDANT5EeWW7qBcXsHUvw" x="3" y="-81"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YSbb8dT5EeWW7qBcXsHUvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YSbb89T5EeWW7qBcXsHUvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YSbb8tT5EeWW7qBcXsHUvw" points="[4, 0, 4, -24]$[39, 0, 39, -24]$[39, 24, 39, 0]$[4, 24, 4, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YSd4MNT5EeWW7qBcXsHUvw" id="(0.9820627802690582,0.2037037037037037)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YSd4MdT5EeWW7qBcXsHUvw" id="(0.9820627802690582,0.6851851851851852)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
